@charset "utf-8";

.marquee-container{
    display: flex;
    position: relative;
}


@keyframes marquee{
    0%{
        translate: 0 ;
    }
    100%{
        translate: 0 -100%;
    }
}

/* 応用編：画像をホバーすると動きが止まり拡大する */
.marquee-inner-stop{
    animation: marquee 3s linear infinite;
}

.marquee-inner-stop img{
    width: 530px;
    transition: scale .4s;
}

.marquee-inner-stop:has(img:hover){
    z-index: 2;
}

.marquee-inner-stop img:hover{
    scale: 1.7;
}

/* 停止時のクラス */
.marquee-paused{
    animation-play-state: paused;
}

/* 応用編：画像をホバーすると動きが止まり拡大する */
.marquee-inner-stop2{
    animation: marquee 3s linear infinite;
}

.marquee-inner-stop2 img{
    width: 530px;
    transition: scale .4s;
}

.marquee-inner-stop2:has(img:hover){
    z-index: 2;
}

.marquee-inner-stop2 img:hover{
    scale: 1.7;
}

/* 停止時のクラス */
.marquee-paused2{
    animation-play-state: paused;
}

/* 応用編：画像をホバーすると動きが止まり拡大する */
.marquee-inner-stop3{
    animation: marquee 3s linear infinite;
}

.marquee-inner-stop3 img{
    width: 530px;
    transition: scale .4s;
}

.marquee-inner-stop3:has(img:hover){
    z-index: 2;
}

.marquee-inner-stop3 img:hover{
    scale: 1.7;
}

/* 停止時のクラス */
.marquee-paused3{
    animation-play-state: paused;
}
